# Add files here to ignore them from prettier formatting
.devcontainer/
.idea/
app/
bootstrap/
config/
database/
/dist
/coverage
/.nx/cache
/.nx/workspace-data
public/
routes/
storage/
tests/
/tmp
.env.*
*.sh
